<div class="holder">
  <div class="box-rating" id="1" #ratingBox 
    (click)="getRatingValue(ratingBox.id)" 
    (mouseenter)="getColored(ratingBox)" 
    (mouseleave)="switchOffColors()">
      <div class="lighter"></div>
  </div>

  <div class="box-rating" id="2" #ratingBox2 
    (click)="getRatingValue(ratingBox2.id)" 
    (mouseenter)="getColored(ratingBox2)" 
    (mouseleave)="switchOffColors()">
      <div class="lighter"></div>
  </div>

  <div class="box-rating" id="3" #ratingBox3 
    (click)="getRatingValue(ratingBox3.id)" 
    (mouseenter)="getColored(ratingBox3)" 
    (mouseleave)="switchOffColors()">
      <div class="lighter"></div>
  </div>

  <div class="box-rating" id="4" #ratingBox4 
    (click)="getRatingValue(ratingBox4.id)" 
    (mouseenter)="getColored(ratingBox4)" 
    (mouseleave)="switchOffColors()">
      <div class="lighter"></div>
  </div>
    
  <div class="box-rating" id="5" #ratingBox5 
    (click)="getRatingValue(ratingBox5.id)" 
    (mouseenter)="getColored(ratingBox5)" 
    (mouseleave)="switchOffColors()">
    <div class="lighter"></div>
  </div>
</div >
