<div class="box-wrapper">
  <div class="outer-box">
    <div class="content-box">
      <div class="color-box" id="1" [ngClass]="setBackgroundForBlocks()"></div>
    </div>
  </div>
  <div class="outer-box">
    <div class="content-box">
      <div class="color-box" id="2" [ngClass]="setBackgroundForBlocks()"></div>
    </div>
  </div>
  <div class="outer-box">
    <div class="content-box">
      <div class="color-box" id="3" [ngClass]="setBackgroundForBlocks()"></div>
    </div>
  </div>
  <div class="outer-box">
    <div class="content-box">
      <div class="color-box" id="4" [ngClass]="setBackgroundForBlocks()"></div>
    </div>
  </div>
  <div class="outer-box">
    <div class="content-box">
      <div class="color-box" id="5" [ngClass]="setBackgroundForBlocks()"></div>
    </div>
  </div>
</div>
